<% if (theme.twikoo && post.comments) { %>
<!-- <div id="vcomments"></div>
<script>
  window.onload = function(){
      var valine = new Valine();
      valine.init({
        el: '#vcomments',
        appId: "<%= theme.v_appId %>",
        appKey: "<%= theme.v_appKey %>",
        master: 'eeb5bf9161f41a9bbee1b6af0daba9b0',
        tagMeta: ["博主","小伙伴","访客"],
        path: window.location.pathname,
        placeholder: "你是我一生只会遇见一次的惊喜 ...",
        metaPlaceholder: {"nick":"昵称","mail":"邮箱(用于获取头像和收到回复,非必填)","link":"网址(https://)"},
        avatar: 'identicon'
      })
  }
</script> -->
<div id="tcomment"></div>
<script src="https://cdn.staticfile.org/twikoo/1.6.21/twikoo.all.min.js"></script>
<script>
twikoo.init({
  envId: 'https://tranquil-centaur-0714bb.netlify.app/.netlify/functions/twikoo', // 腾讯云环境填 envId；Vercel 环境填地址（https://xxx.vercel.app）
  el: '#tcomment', // 容器元素
  // region: 'ap-guangzhou', // 环境地域，默认为 ap-shanghai，腾讯云环境填 ap-shanghai 或 ap-guangzhou；Vercel 环境不填
  // path: location.pathname, // 用于区分不同文章的自定义 js 路径，如果您的文章路径不是 location.pathname，需传此参数
  // lang: 'zh-CN', // 用于手动设定评论区语言，支持的语言列表 https://github.com/imaegoo/twikoo/blob/main/src/client/utils/i18n/index.js
})
</script>

<% } %>